.visually-hidden {
  clip-path: inset(100%);
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.App {
  padding: calc(15 / 16 * 1em);
  max-width: calc(1280 / 16 * 1em);
  margin-inline: auto;
  border: calc(2 / 16 * 1em) solid;
}

main {
  margin-block: calc(20 / 16 * 1em);
}



@media screen and (max-width: calc(500 / 16 * 1em)) {
  .App {
    width: 80%;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}


.App-link {
  color: rgb(112, 76, 182);
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}
